<div class="container">
    <div class="row">
  <h1>Listing Article</h1>

  <table class="zebra-striped" id="feedbacktable">
    <tr>
      <th>Title</th>
   
      <th>Writer Name</th>
      <th></th>
      <th></th>
     <!--  <th></th> -->
    </tr>

  <% @article.each do |feedback| %>
    <tr title="<%= feedback.body %>">
      <td><%= feedback.title %></td>
 
      <td><%= feedback.name %></td>
      <td><%= link_to 'Show', feedback %></td>
      <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
      <!-- <td><%= link_to 'Destroy', feedback, confirm: 'Are you sure?', method: :delete %></td> -->
    </tr>
  <% end %>
  </table>

</div>
</div>